.aa-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.aa-question-title {
    padding: 0 0 0 10px !important;
}

.aa-question-content {
    padding: 0 0 0 10px !important;
    color: gray;
}

.aa-question-author {
    color: gray;
    text-align: left;
    font-size: 0.8em;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.aa-question-date {
    color: gray;
    text-align: right;
    font-size: 0.8em;
    display: inline-block;
    overflow: hidden;
}
