<ion-header>
    <ion-navbar [color]="'primary'">
        <button ion-button menuToggle>
            <ion-icon [name]="'menu'"></ion-icon>
        </button>
        <ion-title>Questions</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-list *ngIf="questions">
        <ion-item *ngFor="let question of questions" class="aa-no-padding">
            <ion-card>
                <ion-card-title class="aa-question-title">
                    <h2>
                        {{ question.title }}
                    </h2>
                </ion-card-title>
                <hr>
                <ion-card-content class="aa-question-content">
                    {{ question.content }}
                </ion-card-content>
                <hr>
                <div col-12>
                    <div col-6 class="aa-question-author">By: {{ question._creator?.firstName + ' ' + question._creator?.lastName }}</div>
                    <div col-6 class="aa-question-date">On: {{ question.created_at | date: 'dd/MM/yyyy hh:mm:ss' }}</div>
                </div>
            </ion-card>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll *ngIf="showInfinite" (ionInfinite)="fetchMoreQuestions($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab class="aa-fab">
        <button ion-fab (click)="goToNewQuestion()">
            <i class="ion-android-add"></i>
        </button>
    </ion-fab>
</ion-content>
